@model List<BikeStation>

<h1>Favoris</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Nb vélos</th>
            <th>Nb vélos élec</th>
            <th>Nb emplacements</th>
            <th>Favoris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var station in Model)
        {
            <tr>
                <td>@station.Name</td>
                <td>@station.BikeCountTotal</td>
                <td>@station.ElectricBikeCount</td>
                <td>@station.SlotCount</td>
                <td><a class="btn btn-danger" asp-controller="User" asp-action="RemoveFavorite" asp-route-stationId="@station.Id">Retirer</a></td>
            </tr>
        }
    </tbody>
</table>

